<!Doctype html />
<html xmlns=http://www.w3.org/1999/xhtml>
	<head>
		<meta http-equiv=Content-Type content="text/html;charset=utf-8">
		<link href="../css/css.css" type=text/css rel=stylesheet>
</head>
	<body>
		<div class="wrap">
        	<!--头部-->
			<div class="head">
              <div class="zhuce"><a href="#">注册</a></div>
              <div class="xiexian">|</div>
              <div class="denglu"><a href="#">登录</a></div>
            </div>
            <!--导航-->
            <div class='content'>
                <div class="daohang">
                    <div class="shouye" align="center">
                    <a href="#">网站首页</a>
                    </div>
                    <div class="xinwendongtai" align="center">
                    <a href="#">新闻动态</a>
                    </div>
                    <div class="fanlizhanshi" align="center">
                    <a href="#">范例展示</a>
                    </div>
                    <div class="PPTjiaocheng" align="center">
                    <a href="#">PPT教程</a>
                    </div>
                    <div class="wangyesucai" align="center">
                    <a href="#">网页素材</a>
                    </div>
                    <div class="wangzhanhuodong" align="center">
                    <a href="#">网页活动</a>
                    </div>
                    <div class="lianxiwomen" align="center">
                    <a href="#">联系我们</a>
                    </div>
                </div>
                <!--flash-->
                <div class="flash">
                <img src="../images/flash.jpg"/>
                </div>
            </div>
            
            
            <!-- 张雨开始-->
            <div class="margin">
            	<div class="top">
            		<div class="tem_nav_title fontsize16">
                        <div class="Ffloat fontweightbload"><div class="ziti">新闻动态</div>
                           </div>
                           <div class="Rfloat fontsize13">当前位置：网站首页> 新闻动态</div>
                    </div>
                    <div class="xiantiao">
                        <div></div>
                    </div>
                   <div class="blank height10"></div>  
                	<div class="xia">
                    	<div class="xiangzuo">
                        	<div class="xiangzuo_a">商用ppt模板下载</div>
                            <div class="xiangzuo_b">
                            	<div class="xiangzuo_be"><img src="../images/xiangzuo_03.jpg"/></div>
                            	<div class="xiangzuo_br">
                                	<div class="xiangzuo_brk"></div>
                                	<div>详细信息：</div>
                                    <div>名称：</div>
                                    <div>类型：</div>
                                    <div>文件大小：</div>
                                </div>
                            </div>
                            <div class="xiangzuo_c">
                            	<div class="xiangzuo_cz">
                            		<div class="xiangzuo_ca">上一条：</div>
                                	<div class="xiangzuo_cb">旅行ppt</div>
                                </div>
                                <div class="xiangzuo_cy">
                                	<div class="xiangzuo_cc">下一条：</div>
                                	<div class="xiangzuo_cd">蓝色风格ppt</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="xiangyou">
                        	<div class="xiangyou_a">上传者资料库：</div>
                            <div class="xiangyou_b"><img src="../images/zuozhe_03.jpg" height="156"/></div>
                            <div class="xiangyou_c">
                            	<div class="xiangyou_ca">用户名：</div>
                                <div class="xiangyou_cb">级别：</div>
                            </div>
                        </div>
                	</div>
                 </div>
                 <div class="bottom">
                 	<div class="bottons">
    					<div class="bottonsz">ppt资料</div>
                        <div class="bottonsy">用户评论</div>
					</div>
                    <div class="bottonx">
                    	<div class="bottonx_s"><img src="../images/bottons_03.jpg"/></div>
                        <div class="bottonxx">
                        	<div class="bottonx_z">
                                <div>详细信息：</div>
                                <div>名称：</div>
                                <div>类型：</div>
                                <div>文件大小：</div>
                            </div>
                            <div class="bottonx_x"><img src="../images/bottonx_03.jpg"/></div>
                         </div>
                    </div>
                 </div>
            </div>
            <!--张雨 end-->
			
			
         
			
     <!--底部-->
	<div class='foot'>
		<div class='banquanbeijing'>
        	<div align="center" class="banquanwenzi">
            网站版权归青岛英敏有限公司所有
            </div>
         </div>   
	</div>
    </div>

	</body>
</html>