<!Doctype html />
<html xmlns=http://www.w3.org/1999/xhtml>
	<head>
    	
		<meta http-equiv=Content-Type content="text/html;charset=utf-8">
		<link href="../css/css.css" type=text/css rel=stylesheet>
        <script src="../js/js.js" type="text/javascript"></script>
        <style type="text/css">
<!--
.STYLE2 {color: #0000FF}
.STYLE3 {color: #006699}
-->
        </style>
</head>
	<body onload="shouye1()">
		<div class="wrap">
        	<!--头部-->
			<div class='head'>
				<!--<img src="images/logo.jpg" alt="logo"/>-->
				<div class='logo'>
                
				</div>
				
		  </div>
            <!--头部 end-->
			<!--导航-->
			<div class='content'>
            	<div class="daohang">
                	<div class="shouye" align="center" id="daohang" >
                    网站首页
                    </div>
                    <div class="xinwendongtai" id="daohang" align="center" >
                    新闻动态
                    </div>
                    <div class="fanlizhanshi" align="center" id="daohang">
                    范例展示
                    </div>
                    <div class="PPTjiaocheng" align="center" id="daohang" >
                    PPT教程
                    </div>
                    <div class="wangyesucai" align="center" id="daohang">
                    网页素材
                    </div>
                    <div class="wangzhanhuodong" align="center" id="daohang">
                    网页活动
                    </div>
                    <div class="lianxiwomen" align="center" id="daohang">
                    联系我们
                    </div>
                </div>
			</div>
			<!--导航 end-->
              <!--flash-->
             <div class="flash">
                <img src="../images/flash.jpg"/>
                </div>
                <!--flash end-->
            
            <div class="liebiao">
           	  <div class="zuo">
               	  	<div align="center" class="liebiaotou">
                    范例展示                  
                    </div>
                    <div class='libiao'>
                    	<div class="liebiao1" id="liebiao" onClick="list()">
                        	<img src="../images/tubiao.jpg" alt="logo" hspace="24"/>
                           教学PPT                        </div>
                      <div class="liebiao2" id="liebiao">
                        	<img src="../images/tubiao.jpg" alt="logo" hspace="24"/>
                            教学PPT                      </div>
                      <div class="liebiao3">
                        	<img src="../images/tubiao.jpg" alt="logo" hspace="24"/>
                            教学PPT                      </div>
                      <div class="liebiao4">
                        	<img src="../images/tubiao.jpg" alt="logo" hspace="24"/>
                            教学PPT                      </div>
                      <div class="liebiao5">
                        	<img src="../images/tubiao.jpg" alt="logo" hspace="24"/>
                            教学PPT                      </div>
                      <div class="liebiao6">
                        	<img src="../images/tubiao.jpg" alt="logo" hspace="24"/>
                            教学PPT                      </div>
                    </div>
              </div>
                <div class="you">
					<div class="zhanshiqu">
                   	  <div class="zhanshitou">
                       	<div class="zhanshibiaoti" align="center">
                            范例展示
                        </div>
                            <div class="zhanshiweizhi" align="right">
                            当前位置:<span class="STYLE2">网站首页</span>&gt;<span class="STYLE3">范例展示</span> 
                            </div>
                      </div>
                        <div class="zhanshi1">
                        	<div class="zhanshitu">
                            	<img src="../images/zhanshitu1.jpg" vspace="27">
							</div>
                          <div class="zhanshixiangxi">
                            <div class="charushijian" align="right">
                            	加入时间:2012-11-11
                            </div>
                            <div class="zhanshimingzi" align="left">
                            	教学PPT
                            </div>
                            <div class="pingfen">
                            	<div class="jishupingfen">技术评分:</div>
                                 <div class="wujiaoxing"><img src="../images/wujiaoxing.gif"></div>
                            </div>
                            <div class="liulancishu">
                            	<div class="liulan">
                                 	浏览次数:
                                </div>
                                <div class="cishu">
                                	1122
                                </div>
                            </div>
                            <div class="jianjie">
                            	<div class="jieshao">
                                 	PPT:
                                </div>
                                <div class="jiashao1">
                                	本ppt主要用于教学，老师可以下载此模板作为参考。本模板配色采用红黄搭配，色彩对比抢救、对比强烈
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="zhanshi2">
							<div class="zhanshitu">
                            	<img src="../images/zhanshitu1.jpg" vspace="19">
                            </div>
                          <div class="zhanshixiangxi">
                            <div class="charushijian" align="right">
                            	加入时间:2012-11-11
                            </div>
                            <div class="zhanshimingzi" align="left">
                            	教学PPT
                            </div>
                            <div class="pingfen">
                            	<div class="jishupingfen">技术评分:</div>
                                 <div class="wujiaoxing"><img src="../images/wujiaoxing.gif"></div>
                            </div>
                            <div class="liulancishu">
                            	<div class="liulan">
                                 	浏览次数:
                                </div>
                                <div class="cishu">
                                	1122
                                </div>
                            </div>
                            <div class="jianjie">
                            	<div class="jieshao">
                                 	PPT:
                                </div>
                                <div class="jiashao1">
                                	本ppt主要用于教学，老师可以下载此模板作为参考。本模板配色采用红黄搭配，色彩对比抢救、对比强烈
                                </div>
                            </div>
                          </div>
						</div>
                        <div class="zhanshi3">
							<div class="zhanshitu">
                            	<img src="../images/zhanshitu1.jpg"  vspace="19">
							</div>
                          <div class="zhanshixiangxi">
                            <div class="charushijian" align="right">
                            	加入时间:2012-11-11
                            </div>
                            <div class="zhanshimingzi" align="left">
                            	教学PPT
                            </div>
                            <div class="pingfen">
                            	<div class="jishupingfen">技术评分:</div>
                                 <div class="wujiaoxing"><img src="../images/wujiaoxing.gif"></div>
                            </div>
                            <div class="liulancishu">
                            	<div class="liulan">
                                 	浏览次数:
                                </div>
                                <div class="cishu">
                                	1122
                                </div>
                            </div>
                            <div class="jianjie">
                            	<div class="jieshao">
                                 	PPT:
                                </div>
                                <div class="jiashao1">
                                	本ppt主要用于教学，老师可以下载此模板作为参考。本模板配色采用红黄搭配，色彩对比抢救、对比强烈
                                </div>
                            </div>
                          </div>
						</div>
                        <div class="zhanshi4">
							<div class="zhanshitu">
                            	<img src="../images/zhanshitu1.jpg" vspace="19">
							</div>
                          <div class="zhanshixiangxi">
                            <div class="charushijian" align="right">
                            	加入时间:2012-11-11
                            </div>
                            <div class="zhanshimingzi" align="left">
                            	教学PPT
                            </div>
                            <div class="pingfen">
                            	<div class="jishupingfen">技术评分:</div>
                                 <div class="wujiaoxing"><img src="../images/wujiaoxing.gif"></div>
                            </div>
                            <div class="liulancishu">
                            	<div class="liulan">
                                 	浏览次数:
                                </div>
                                <div class="cishu">
                                	1122
                                </div>
                            </div>
                            <div class="jianjie">
                            	<div class="jieshao">
                                 	PPT:
                                </div>
                                <div class="jiashao1">
                                	本ppt主要用于教学，老师可以下载此模板作为参考。本模板配色采用红黄搭配，色彩对比抢救、对比强烈
                                </div>
                            </div>
                          </div>
						</div>
                        <div class="zhanshi5">
							<div class="zhanshitu">
                            	<img src="../images/zhanshitu1.jpg" vspace="19">
							</div>
                          <div class="zhanshixiangxi">
                            <div class="charushijian" align="right">
                            	加入时间:2012-11-11
                            </div>
                            <div class="zhanshimingzi" align="left">
                            	教学PPT
                            </div>
                            <div class="pingfen">
                            	<div class="jishupingfen">技术评分:</div>
                                <div class="wujiaoxing"><img src="../images/wujiaoxing.gif"></div>
                            </div>
                            <div class="liulancishu">
                            	<div class="liulan">
                                 	浏览次数:
                                </div>
                                <div class="cishu">
                                	1122
                                </div>
                            </div>
                            <div class="jianjie">
                            	<div class="jieshao">
                                 	PPT:
                                </div>
                                <div class="jiashao1">
                                	本ppt主要用于教学，老师可以下载此模板作为参考。本模板配色采用红黄搭配，色彩对比抢救、对比强烈
                                </div>
                            </div>
                          </div>
						</div>
                        <div class="zhanshiweibu">
                        	<div class="yeshu">
                            	<div class="kongzhi" align="center">上一页&nbsp;1&nbsp;2&nbsp;3&nbsp;4&nbsp;下一页</div>
                            </div>
                        </div>
                    </div>
				</div>
			
			
			</div>
		
			
					<!--底部-->
				<div class='foot'>
					<div class='banquanbeijing'>
						<div align="center" class="banquanwenzi">
						网站版权归青岛英敏科技有限公司所有
						</div>
					</div>   
						<!--底部 end-->
    
				</div>
			
		</div>		
	</body>
</html>