<!Doctype html />
<html xmlns=http://www.w3.org/1999/xhtml>
	<head>
   
		<meta http-equiv=Content-Type content="text/html;charset=utf-8">
		<link href="../css/css.css" type=text/css rel=stylesheet>
</head>
	<body>
		<div class="wrap">
        	<!--头部-->
            
			<div class="head">
              <div class="zhuce"><a href="#">注册</a></div>
              <div class="xiexian">|</div>
              <div class="denglu"><a href="#">登录</a></div>
			</div>
			<!--导航-->
			<div class='content'>
            	<div class="daohang">
                	<div class="shouye" align="center">
                    <a href="#">网站首页</a>
                    </div>
                    <div class="xinwendongtai" align="center">
                    <a href="#">新闻动态</a>
                    </div>
                    <div class="fanlizhanshi" align="center">
                    <a href="#">范例展示</a>
                    </div>
                    <div class="PPTjiaocheng" align="center">
                    <a href="#">PPT教程</a>
                    </div>
                    <div class="wangyesucai" align="center">
                    <a href="#">网页素材</a>
                    </div>
                    <div class="wangzhanhuodong" align="center">
                    <a href="#">网页活动</a>
                    </div>
                    <div class="lianxiwomen" align="center">
                    <a href="#">联系我们</a>
                    </div>
                </div>
                <!--flash-->
                <div class="flash">
                <img src="../images/flash.jpg"/>
                </div>
			</div>
            
            
            <!--姚荣娟-->
            <div class="margin">
                <div class="marginleft">
                    <div class="leftlogobg"> 
                      <div class="zi">新闻动态</div>
                    </div>
                    <div class="leftlist">
                      <ul> 
                        <li><a href="#"><img src="../images/sanjiaoxing.jpg" border="0px"/></a><a href="#">在PowerPoint中插……</a></li>
                        <li><img src="../images/sanjiaoxing.jpg"/><a href="#">在PPT中插入视频</a></li>
                        <li><img src="../images/sanjiaoxing.jpg"/><a href="#">在PPT中插入视频</a></li>
                        <li><img src="../images/sanjiaoxing.jpg"/><a href="#">在PPT中插入视频</a></li>
                        <li><img src="../images/sanjiaoxing.jpg"/><a href="#">在PPT中插入视频</a></li>
                        <li><img src="../images/sanjiaoxing.jpg"/><a href="#">在PPT中插入视频</a></li>
                      </ul>
                    </div>
                </div>
                <div class="marginright">
                   <div class="rightleft"><div class="ziti">新闻动态</div>
                   </div>
                   <div class="rightright">当前位置：网站首页> 新闻动态</div>
                   <div class="xiantiao"><div></div></div>
                   <div class="blank"></div>
                   <div class="wenzi">ppt下载活动新闻ppt下载活动新闻ppt下载活动新闻</div>
                   <div class="image"><a href="#"><img src="../images/rili.jpg" border="0"/></a></div>
                   <div class="time">2012-11-28</div>
                   <div class="pinglun"><a href="#">20条评论</a></div>
                   <div class="xinfeng"><img src="../images/xinfeng.jpg"/></div>
                   <div class="neirong"><a href="#">使用超链接插入的动画有3点需要注意：1）动画文件名称或存储位置改变将导致超链接"无法打开指定的文件"。
解决方法是，在进行文件复制时，要连同动画文件一起复制，并重新编辑超链接。2）在ppt播放时，点击超链接，
将会弹出如下窗口，如图13，通常做法是点击"确定"。3）计算机上要安装有flash播放器才能正常播放动画…
【阅读全文】</a> </div>
                   <div class="hand"><img src="../images/hand.jpg"/></div>
                   <div class="author">作者：admin  点击：1200</div>
                   <div class="wenzi2">ppt下载活动新闻ppt下载活动新闻ppt下载活动新闻</div>
                   <div class="image"><a href="#"><img src="../images/rili.jpg" border="0"/></a></div>
                   <div class="time">2012-11-28</div>
                   <div class="pinglun"><a href="#">20条评论</a></div>
                   <div class="xinfeng"><img src="../images/xinfeng.jpg"/></div>
                   <div class="neirong"><a href="#">使用超链接插入的动画有3点需要注意：1）动画文件名称或存储位置改变将导致超链接"无法打开指定的文件"。
解决方法是，在进行文件复制时，要连同动画文件一起复制，并重新编辑超链接。2）在ppt播放时，点击超链接，
将会弹出如下窗口，如图13，通常做法是点击"确定"。3）计算机上要安装有flash播放器才能正常播放动画…
【阅读全文】</a> </div>
                   <div class="hand"><img src="../images/hand.jpg"/></div>
                   <div class="author">作者：admin  点击：1200</div>
                    <div class="wenzi3">ppt下载活动新闻ppt下载活动新闻ppt下载活动新闻</div>
                   <div class="image"><a href="#"><img src="../images/rili.jpg" border="0"/></a></div>
                   <div class="time">2012-11-28</div>
                   <div class="pinglun"><a href="#">20条评论</a></div>
                   <div class="xinfeng"><img src="../images/xinfeng.jpg"/></div>
                   <div class="neirong"><a href="#">使用超链接插入的动画有3点需要注意：1）动画文件名称或存储位置改变将导致超链接"无法打开指定的文件"。
解决方法是，在进行文件复制时，要连同动画文件一起复制，并重新编辑超链接。2）在ppt播放时，点击超链接，
将会弹出如下窗口，如图13，通常做法是点击"确定"。3）计算机上要安装有flash播放器才能正常播放动画…
【阅读全文】</a> </div>
                   <div class="hand"><img src="../images/hand.jpg"/></div>
                   <div class="author">作者：admin  点击：1200</div>
                    <div class="wenzi4">ppt下载活动新闻ppt下载活动新闻ppt下载活动新闻</div>
                   <div class="image"><a href="#"><img src="../images/rili.jpg" border="0"/></a></div>
                   <div class="time">2012-11-28</div>
                   <div class="pinglun"><a href="#">20条评论</a></div>
                   <div class="xinfeng"><img src="../images/xinfeng.jpg"/></div>
                   <div class="neirong"><a href="#">使用超链接插入的动画有3点需要注意：1）动画文件名称或存储位置改变将导致超链接"无法打开指定的文件"。
解决方法是，在进行文件复制时，要连同动画文件一起复制，并重新编辑超链接。2）在ppt播放时，点击超链接，
将会弹出如下窗口，如图13，通常做法是点击"确定"。3）计算机上要安装有flash播放器才能正常播放动画…
【阅读全文】</a> </div>
                   <div class="hand"><img src="../images/hand.jpg"/></div>
                   <div class="author">作者：admin  点击：1200</div>
                   <div class="prior"><a href="#">上一页</a></div>
                   <div class="one"><a href="#">1</a></div>
                   <div class="two"><a href="#">2</a></div>
                   <div class="three"><a href="#">3</a></div>
                   <div class="four"><a href="#">4</a></div>
                   <div class="next"><a href="#">下一页</a></div>
                </div>
                
            </div>
			 <!--姚荣娟end-->
	
     <!--底部-->
	<div class='foot'>
		<div class='banquanbeijing'>
        	<div align="center" class="banquanwenzi">
            网站版权归青岛英敏科技有限公司所有
            </div>
         </div>   
	</div>
    </div>
    </div>
	</body>
</html>