html,body{margin:0;padding:0;font-size:12px;background-color:gray}

/**********************王宝林***********************************/
.wrap{width:1000px;margin-left:auto;margin-right:auto;}
.wrap .liebiao .foot {
	float: left;
}
.head .xiexian {
	height: 44px;
	width: 5px;
	float: right;
	margin-top: 14px;
	margin-right: 13px;
	color: white;
	font-size: 14px;
	font-weight: bold;
}
.head .denglu {
	height: 44px;
	width: 40px;
	float: right;
	margin-top: 14px;
	margin-right: 9px;
	color: white;
	font-size: 14px;
	font-weight: bold;
}
.head .zhuce {
	height: 44px;
	width: 40px;
	float: right;
	margin-top: 17px;
	margin-right: 50px;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
}
/*
.wrap .head .denglu {
	float: left;
	width: 650px;
	font-weight: bold;
	line-height: 50px;
	color:#FFFFFF;
}*/
.wrap .head .logo {
	float: left;
	height: 85px;
	width: 276px;
	margin-left: 40px;
}

.head{
	background-image:url(../images/head.jpg);
	height: 127px;
	width: 1000px;
}
.wrap .foot .banquanbeijing {
	background-image: url(../images/foot1.jpg);
	height: 135px;
	width: 1000px;
	float:left;
}
.wrap .foot .banquanbeijing .banquanwenzi {
	width: 1000px;
	height: 20px;
	margin-top: 70px;
	color: #000000;
	font-weight:bold;
	float: left;
}
.wrap .content .daohang {
	background-image: url(../images/daohangbeijing.jpg);
	height: 40px;
	width: 1000px;
}
.wrap .content .daohang .wangzhanhuodong {
	height: 40px;
	width: 142px;
	float: left;
	background-image: url(../images/daohanganniu.jpg);
	color: #FFFFFF;
	line-height: 40px;
	font-size: 16px;
	font-weight:bold;

}

.wrap .content .daohang .shouye {
	height: 40px;
	width: 142px;
	float: left;
	background-image: url(../images/daohanganniu.jpg);
	color: #FFFFFF;
	line-height: 40px;
	font-size: 16px;
	font-weight:bold;
}
.wrap .content .daohang .xinwendongtai {
	height: 40px;
	width: 142px;
	float: left;
	background-image: url(../images/daohanganniu.jpg);
	color: #FFFFFF;
	line-height: 40px;
	font-size: 16px;
	font-weight:bold;

}
.wrap .content .daohang .fanlizhanshi {
	height: 40px;
	width: 142px;
	float: left;
	background-image: url(../images/daohanganniu.jpg);
	color: #FFFFFF;
	line-height: 40px;
	font-size: 16px;
	font-weight:bold;

}
.wrap .content .daohang .PPTjiaocheng {
	height: 40px;
	width: 142px;
	float: left;
	background-image: url(../images/daohanganniu.jpg);
	color: #FFFFFF;
	line-height: 40px;
	font-size: 16px;
	font-weight:bold;
	
}
.wrap .content .daohang .lianxiwomen {
	height: 40px;
	width: 142px;
	float: left;
	color: #FFFFFF;
	line-height:40px;
	font-size: 16px;
	font-weight:bold;
}

.wrap .content .daohang .wangyesucai {
	height: 40px;
	width: 142px;
	float: left;
	background-image: url(../images/daohanganniu.jpg);
	color: #FFFFFF;
	line-height: 40px;
	font-size: 16px;
	font-weight:bold;
}
.wrap .content .flash {
	height: 233px;
	width: 1000px;
}
.wrap .liebiao {
	float: left;
	height: 1000px;
	width: 1000px;
}
.wrap .liebiao .zuo {
	float: left;
	height: 1000px;
	width: 220px;
	background-image:url(../images/liebiaobeijing.jpg);
}
.wrap .liebiao .you {
	float: left;
	height: 1000px;
	width: 780px;
	background-color:#FFFFFF;
	
}
.wrap .liebiao .zuo .liebiaotou {
	float: left;
	height: 33px;
	width: 220px;
	background-image: url(../images/biaotibeijing.jpg);
	background-repeat: no-repeat;
	line-height: 30px;
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
}
.wrap .liebiao .zuo .libiao {
	float: left;
	width: 220px;
	margin-top: 35px;
	font-size: 12px;
	color: #000000;
	font-weight: lighter;
	background-image:url(../images/liebiaobeijing.jpg);
}
.wrap .liebiao .zuo .libiao .liebiao1 {
	height: 16px;
	float: left;
	width: 220px;
	margin-top: 20px;
}
.wrap .liebiao .zuo .libiao .liebiao2 {
	height: 16px;
	float: left;
	width: 220px;
	margin-top: 20px;
}
.wrap .liebiao .zuo .libiao .liebiao3 {
	height: 16px;
	float: left;
	width: 220px;
	margin-top: 20px;
}
.wrap .liebiao .zuo .libiao .liebiao4 {
	height: 16px;
	float: left;
	width: 220px;
	margin-top: 20px;
}
.wrap .liebiao .zuo .libiao .liebiao5 {
	height: 16px;
	float: left;
	width: 220px;
	margin-top: 20px;
}
.wrap .liebiao .zuo .libiao .liebiao6 {
	height: 16px;
	float: left;
	width: 220px;
	margin-top: 20px;
}
.wrap .liebiao .you .zhanshiqu .zhanshitou {
	background-image: url(../images/zhanshitoua.jpg);
	float: left;
	height: 51px;
	width: 780px;
	background-repeat: no-repeat;
	background-position: bottom;
}
.wrap .liebiao .you .zhanshiqu .zhanshitou .zhanshibiaoti {
	float: left;
	height: 51px;
	width: 130px;
	font-size: 15px;
	line-height: 51px;
	font-weight: bold;
	color: #000000;
}
.wrap .liebiao .you .zhanshiqu .zhanshitou .zhanshiweizhi {
	float: left;
	width: 603px;
	line-height: 51px;
	height: 51px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi1 {
	float: left;
	height: 186px;
	width: 780px;
	background-image: url(../images/zhanshibeijing.jpg);
}
/*******************************************展示1***开始*****************************************/
.wrap .liebiao .you .zhanshiqu .zhanshi1 .zhanshitu {
	float: left;
	height: 186px;
	width: 170px;
	margin-left: 25px;
	background-image: url(../images/zhanshibeijing.jpg);
	background-repeat: no-repeat;
}
.wrap .liebiao .you .zhanshiqu .zhanshi1 .zhanshixiangxi {
	float: left;
	width: 516px;
	height: 186px;
	margin-left: 24px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi1 .zhanshixiangxi .zhanshimingzi {
	font-weight: bold;
	color: #025597;
	line-height: 33px;
	float: left;
	height: 33px;
	width: 516px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi1 .zhanshixiangxi .pingfen {
	float: left;
	width: 516px;
	height: 30px;
	line-height: 30px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi1 .zhanshixiangxi .pingfen .jishupingfen {
	height: 30px;
	width: 55px;
	float: left;
}
.wrap .liebiao .you .zhanshiqu .zhanshi1 .zhanshixiangxi .pingfen .wujiaoxing {
	float: left;
	height: 30px;
	width: 461px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi1 .zhanshixiangxi .liulancishu {
	height: 15px;
	float: left;
	width: 516px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi1 .zhanshixiangxi .jianjie {
	float: left;
	height: 60px;
	width: 516px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi1 .zhanshixiangxi .liulancishu .liulan {
	height: 15px;
	width: 55px;
	float: left;
}
.wrap .liebiao .you .zhanshiqu .zhanshi1 .zhanshixiangxi .liulancishu .cishu {
	float: left;
	height: 15px;
	width: 461px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi1 .zhanshixiangxi .jianjie .jieshao {
	height: 15px;
	width: 55px;
	float: left;
}
.wrap .liebiao .you .zhanshiqu .zhanshi1 .zhanshixiangxi .jianjie .jiashao1 {
	float: left;
	height: 60px;
	width: 461px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi1 .zhanshixiangxi .charushijian {
	float: left;
	height: 34px;
	width: 516px;
	line-height: 34px;
}
/*******************************************展示1***end*****************************************/

/*******************************************展示2***开始*****************************************/
.wrap .liebiao .you .zhanshiqu .zhanshi2 {
	float: left;
	height: 169px;
	width: 780px;
	background-image: url(../images/zhanshibeijing1.jpg);
	background-repeat: no-repeat;
}
.wrap .liebiao .you .zhanshiqu .zhanshi2 .zhanshitu {
	float: left;
	height: 169px;
	width: 170px;
	margin-left: 25px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi2 .zhanshixiangxi {
	float: left;
	width: 516px;
	height: 169px;
	margin-left: 24px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi2 .zhanshixiangxi .zhanshimingzi {
	font-weight: bold;
	color: #025597;
	line-height: 33px;
	float: left;
	height: 33px;
	width: 516px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi2 .zhanshixiangxi .pingfen {
	float: left;
	width: 516px;
	height: 30px;
	line-height: 30px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi2 .zhanshixiangxi .pingfen .jishupingfen {
	height: 30px;
	width: 55px;
	float: left;
}
.wrap .liebiao .you .zhanshiqu .zhanshi2 .zhanshixiangxi .pingfen .wujiaoxing {
	float: left;
	height: 30px;
	width: 461px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi2 .zhanshixiangxi .liulancishu {
	height: 15px;
	float: left;
	width: 516px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi2 .zhanshixiangxi .jianjie {
	float: left;
	height: 60px;
	width: 516px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi2 .zhanshixiangxi .liulancishu .liulan {
	height: 15px;
	width: 55px;
	float: left;
}
.wrap .liebiao .you .zhanshiqu .zhanshi2 .zhanshixiangxi .liulancishu .cishu {
	float: left;
	height: 15px;
	width: 461px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi2 .zhanshixiangxi .jianjie .jieshao {
	height: 15px;
	width: 55px;
	float: left;
}
.wrap .liebiao .you .zhanshiqu .zhanshi2 .zhanshixiangxi .jianjie .jiashao1 {
	float: left;
	height: 60px;
	width: 461px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi2 .zhanshixiangxi .charushijian {
	float: left;
	height: 24px;
	width: 516px;
	line-height: 24px;
}
/*******************************************展示2***END*****************************************/


/*******************************************展示3***开始*****************************************/
.wrap .liebiao .you .zhanshiqu .zhanshi3 {
	float: left;
	height: 169px;
	width: 780px;
	background-image: url(../images/zhanshibeijing1.jpg);
	background-repeat: no-repeat;
}
.wrap .liebiao .you .zhanshiqu .zhanshi3 .zhanshitu {
	float: left;
	height: 169px;
	width: 170px;
	margin-left: 25px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi3 .zhanshixiangxi {
	float: left;
	width: 516px;
	height: 169px;
	margin-left: 24px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi3 .zhanshixiangxi .zhanshimingzi {
	font-weight: bold;
	color: #025597;
	line-height: 33px;
	float: left;
	height: 33px;
	width: 516px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi3 .zhanshixiangxi .pingfen {
	float: left;
	width: 516px;
	height: 30px;
	line-height: 30px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi3 .zhanshixiangxi .pingfen .jishupingfen {
	height: 30px;
	width: 55px;
	float: left;
}
.wrap .liebiao .you .zhanshiqu .zhanshi3 .zhanshixiangxi .pingfen .wujiaoxing {
	float: left;
	height: 30px;
	width: 461px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi3 .zhanshixiangxi .liulancishu {
	height: 15px;
	float: left;
	width: 516px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi3 .zhanshixiangxi .jianjie {
	float: left;
	height: 60px;
	width: 516px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi3 .zhanshixiangxi .liulancishu .liulan {
	height: 15px;
	width: 55px;
	float: left;
}
.wrap .liebiao .you .zhanshiqu .zhanshi3 .zhanshixiangxi .liulancishu .cishu {
	float: left;
	height: 15px;
	width: 461px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi3 .zhanshixiangxi .jianjie .jieshao {
	height: 15px;
	width: 55px;
	float: left;
}
.wrap .liebiao .you .zhanshiqu .zhanshi3 .zhanshixiangxi .jianjie .jiashao1 {
	float: left;
	height: 60px;
	width: 461px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi3 .zhanshixiangxi .charushijian {
	float: left;
	height: 24px;
	width: 516px;
	line-height: 24px;
}
/*******************************************展示3***END*****************************************/



/*******************************************展示4***开始*****************************************/
.wrap .liebiao .you .zhanshiqu .zhanshi4 {
	float: left;
	height: 169px;
	width: 780px;
	background-image: url(../images/zhanshibeijing1.jpg);
	background-repeat: no-repeat;
}
.wrap .liebiao .you .zhanshiqu .zhanshi4 .zhanshitu {
	float: left;
	height: 169px;
	width: 170px;
	margin-left: 25px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi4 .zhanshixiangxi {
	float: left;
	width: 516px;
	height: 169px;
	margin-left: 24px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi4 .zhanshixiangxi .zhanshimingzi {
	font-weight: bold;
	color: #025597;
	line-height: 33px;
	float: left;
	height: 33px;
	width: 516px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi4 .zhanshixiangxi .pingfen {
	float: left;
	width: 516px;
	height: 30px;
	line-height: 30px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi4 .zhanshixiangxi .pingfen .jishupingfen {
	height: 30px;
	width: 55px;
	float: left;
}
.wrap .liebiao .you .zhanshiqu .zhanshi4 .zhanshixiangxi .pingfen .wujiaoxing {
	float: left;
	height: 30px;
	width: 461px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi4 .zhanshixiangxi .liulancishu {
	height: 15px;
	float: left;
	width: 516px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi4 .zhanshixiangxi .jianjie {
	float: left;
	height: 60px;
	width: 516px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi4 .zhanshixiangxi .liulancishu .liulan {
	height: 15px;
	width: 55px;
	float: left;
}
.wrap .liebiao .you .zhanshiqu .zhanshi4 .zhanshixiangxi .liulancishu .cishu {
	float: left;
	height: 15px;
	width: 461px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi4 .zhanshixiangxi .jianjie .jieshao {
	height: 15px;
	width: 55px;
	float: left;
}
.wrap .liebiao .you .zhanshiqu .zhanshi4 .zhanshixiangxi .jianjie .jiashao1 {
	float: left;
	height: 60px;
	width: 461px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi4 .zhanshixiangxi .charushijian {
	float: left;
	height: 24px;
	width: 516px;
	line-height: 24px;
}
/*******************************************展示4***END*****************************************/


/*******************************************展示5***开始*****************************************/
.wrap .liebiao .you .zhanshiqu .zhanshi5 {
	float: left;
	height: 169px;
	width: 780px;
	background-image: url(../images/zhanshibeijing1.jpg);
	background-repeat: no-repeat;
}
.wrap .liebiao .you .zhanshiqu .zhanshi5 .zhanshitu {
	float: left;
	height: 169px;
	width: 170px;
	margin-left: 25px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi5 .zhanshixiangxi {
	float: left;
	width: 516px;
	height: 169px;
	margin-left: 24px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi5 .zhanshixiangxi .zhanshimingzi {
	font-weight: bold;
	color: #025597;
	line-height: 33px;
	float: left;
	height: 33px;
	width: 516px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi5 .zhanshixiangxi .pingfen {
	float: left;
	width: 516px;
	height: 30px;
	line-height: 30px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi5 .zhanshixiangxi .pingfen .jishupingfen {
	height: 30px;
	width: 55px;
	float: left;
}
.wrap .liebiao .you .zhanshiqu .zhanshi5 .zhanshixiangxi .pingfen .wujiaoxing {
	float: left;
	height: 30px;
	width: 461px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi5 .zhanshixiangxi .liulancishu {
	height: 15px;
	float: left;
	width: 516px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi5 .zhanshixiangxi .jianjie {
	float: left;
	height: 60px;
	width: 516px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi5 .zhanshixiangxi .liulancishu .liulan {
	height: 15px;
	width: 55px;
	float: left;
}
.wrap .liebiao .you .zhanshiqu .zhanshi5 .zhanshixiangxi .liulancishu .cishu {
	float: left;
	height: 15px;
	width: 461px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi5 .zhanshixiangxi .jianjie .jieshao {
	height: 15px;
	width: 55px;
	float: left;
}
.wrap .liebiao .you .zhanshiqu .zhanshi5 .zhanshixiangxi .jianjie .jiashao1 {
	float: left;
	height: 60px;
	width: 461px;
}
.wrap .liebiao .you .zhanshiqu .zhanshi5 .zhanshixiangxi .charushijian {
	float: left;
	height: 24px;
	width: 516px;
	line-height: 24px;
}
/*******************************************展示5***END*****************************************/
.wrap .liebiao .you .zhanshiqu .zhanshiweibu {
	float: left;
	height: 67px;
	width: 710px;
	margin-left: 25px;
}
.wrap .liebiao .you .zhanshiqu .zhanshiweibu .yeshu {
	float: left;
	height: 15px;
	width: 710px;
	margin-top: 26px;
	line-height: 15px;
}

/**********************王宝林******END*****************************/
